<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Justin Lowen</title>

    {% load static %}
    <link href="{% static 'portfolioapp/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <p>Welcome to my Portfolio</p>
    </header>

    <main>
        <p>Here I will discuss my professional background and projects.</p>
    </main>

    <footer>
        <p>My Skills</p>
        <div class="columns">
            <!-- column 1 -->
            <div class="column">
                <h3>Python</h3>
                <p>
                    I am able to use Python to create backend applications,
                    and I am able to create sites using the Django framework.
                </p>
            </div>
            <!-- column 2 -->
            <div class="column">
                <h3>Responsive Web Design</h3>
                <p>
                    I understand the importance of a flexible display that is suitable
                    for any screen-size, browser, and device.
                </p>
            </div>
            <div class="column">
                <!-- column 3 -->
                <h3>JavaScript & React</h3>
                <p>
                    I am familiar with the foundations of JavaScript and the React library to make
                    interactive websites that deliver optimal performance.
                </p>
            </div>
        </div> <!-- /columns -->

    </footer>

</body>
</html>