body {
    margin: 0px;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: slategray;
}

main {
    width: 800px;
    margin: 0 auto;
}

#postDiv {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid black;
}

#intro {
    text-align: center;
}

#theSquare {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#textFieldExample {
        width: 400px;
}