/* ====
Global Settings
==== */

body {
    background: slategray;
    margin: 0;
    font-size: 1.25rem;
}

/* ====
Typography
==== */

h1, h2, h3, p, a, em, strong {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, strong {
    font-weight: 700;
}

p, a {
    font-weight: 400;
}

em {
    font-weight: 300;
}

/* ====
Layout
==== */


/* ========
    Navbar
=========== */

header {
    text-align: center;
    background: lightblue;
    color: slategray;
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 2em 1em;
}

nav, .logo, .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    margin-bottom: 0.4em;
    font-size: 2rem;
}

.logo {
    width: 40%;
    margin-bottom: 0.25em;
}

.image-header {
    display: block;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

a {
    color: #414141;
}

a:focus, a:hover {
    color: #111;
}

.links {
    width: 40%;
    margin: 0.5em 2em;
}

.link {
    text-decoration: none;
    margin: 0.5em;
    font-size: 1.5rem;
    padding: 0.1em;
    border-bottom: 4px solid transparent;
    
}

.link:focus, .link:hover, .link-current {
    border-bottom: 4px solid black;
    color: #111;
}

@media (min-width: 500px) {
    nav, .links {
        flex-direction: row;
    }
}

/* ==========
Main Content
============= */

main {
    text-align: center;
    background: white;
    padding: 50px;
    margin-bottom: 10px;
}

.intro {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ====
Footer
==== */

footer {
    width: 100%;
    text-align: center;
    background: lightblue;
    border: 2px solid black;
}

.columns {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.column {
    margin: 0 10px;
    width: 90%;
}

.skill-title {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.skill-subtitle {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.skill-text {
    font-size: 1rem;
}


