/* ====
Global Settings
==== */

body {
    background: slategray;
    margin: 0;
    font-size: 1.25rem;
}

/* ====
Typography
==== */




/* ====
Layout
==== */


/* ========
    Navbar
=========== */

header {
    text-align: center;
    background: lightblue;
    color: slategray;
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 2em 1em;
}

nav, .logo, .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-bottom: 0.25em;
    font-size: 5rem;
}

.logo {
    width: 50%;
    margin-bottom: 0.25em;
}

.image-header {
    display: block;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #414141;
}

.link {
    margin: 0.5em;
    font-size: 4rem;
    padding: 0.25em;
    border-bottom: 4px solid transparent;
    
}

.link:focus, .link:hover, .link-current {
    border-bottom: 4px solid black;
    color: #111;
}

.link-current {
    
}

/* ==========
Main Content
============= */

main {
    text-align: center;
    background: white;
    padding: 50px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background: lightblue;
    border: 2px solid black;
}

/* ====
Class Styles
==== */

.columns {
    display: flex;
    margin: 0 auto;
    width: 600px;
}

.column {
    margin: 0 10px;
}

.intro {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile_photo {
    width: 300px;
    height: 300px
}