<!DOCTYPE html>
<html>

<head>
    <title>Event Listeners</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <link href="{% static 'portfolioapp/css/eventpage.css' %}" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <h1>Event Listener Examples</h1>
        </header>

        <main>
            <p>
                This square has several event listeners that will trigger a
                background color change when the user supplies a matching input.
            </p>
            <div id="theSquare">
                <!-- padded square -->
            </div>
            <p>
                Inputs are another common place to use Event Listeners.
            </p>
            <input id="textFieldExample" type="text" placeholder="Add a value to the list below" />
            <br>
            <button id="postButton">Post An Item</button>
            <br>
            <br>
            <div id="postDiv">
                <ul id="postList">
                    <h3>User Created List:</h3>
                </ul>
            </div>
            <p>
                Here we can clear the default text for the user to make data
                entry easier when <em>focus</em> has been placed on the text
                input. We can also refill the default text with a <em>blur</em>
                event if no user entry has been made to provide a hint to the
                user. Finally, we can provide subtle highlighting style changes
                to make the current input field more apparent.
            </p>
    </div>
    </main>

    <footer>
        <a href="/" class="btn btn-accent">Return to Home</a>
        <a href="https://www.linkedin.com/in/justinlowen/" class="btn btn-light">My LinkedIn</a>
        <a href="mailto:Justin.G.Lowen@gmail.com" class="btn btn-dark">Contact me</a>
    </footer>
    </div> <!-- /container -->
    <script src="{% static 'portfolioapp/js/eventpage.js' %}"></script>
</body>

</html>