<!DOCTYPE html>
<html>

<head>
    <title>Event Listeners</title>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'portfolioapp/css/eventpage.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Event Listener Examples</h1>
    </header>

    <main>
        <div id="intro">
            <p>
                This square has several event listeners that will trigger a
                background color change when the user supplies a matching input.
            </p>
            <div id="theSquare">
                <!-- padded square -->
            </div>
            <p>
                Inputs are another common place to use Event Listeners.
            </p>
            <input type="text" value="Add a value to the list below" />
            <br>
            <button id="postButton">Post An Item</button>
            <p>
                Here we can clear the default text for the user to make data
                entry easier when <em>focus</em> has been placed on the text
                input. We can also refill the default text with a <em>blur</em>
                event if no user entry has been made to provide a hint to the
                user. Finally, we can provide subtle highlighting style changes
                to make the current input field more apparent.
            </p>
        </div>

    </main>
    <script src="{% static 'portfolioapp/js/eventpage.js' %}"></script>
</body>

</html>