<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Jokes</title>
    {% load static %}
    <link href="{% static 'portfolioapp/css/jokepage.css' %}" rel="stylesheet">
</head>

<body>
    <h1 class="title">Random Programming Jokes</h1>
    <div class="setup"></div>
    <div class="punchline"></div>
    <div class="punchlineBtn"></div>
    <div class="newJokeBtn"></div>

    <script src="{% static 'portfolioapp/js/jokepage.js' %}"></script>
</body>

</html>